<header class="boundary">

<h1>MapGame</h1>
</header>

<div class="boundary" id="game_board">
  <div id="map_div"></div>
  <div id="cr-stage"></div>
</div>


<script>
  // bing maps
  function getMap() {
    var mapOpts = {
      credentials:"AlC9CGbZ8LHeSgdDZKuTJcKueNw6H-YgNcBLvFL5uzfittgGIKTucztKA8OI37Rc",
      center: new Microsoft.Maps.Location(<%= @loc[0] %>, <%= @loc[1] %>),
      disableBirdseye: true,
      showDashboard: false,
      width: <%= GamesController::ARENA_WIDTH %>,
      height: <%= GamesController::ARENA_HEIGHT %>,
      zoom: 20
    },
    map = new Microsoft.Maps.Map(document.getElementById("map_div"), mapOpts);
    window.map = map;
  }
  $(function() {
    getMap();
  });

  Game.user_id = '<%= session[:user_id] %>';

  $(function() {
    // timer
    setTimeout(function() {
      Game.helpers.loadScene("game");
    }, 500);
  });
</script>
